/* This is a CSS file */
.parent {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.first {
    float: left;
    width: 17px;
}

.second {
    float: left;
    margin-left: 10%;
}

.third {
    float: left;    
}

.fourth {
    float: left;
}

.fifth {
    float: left;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-divider {
    border-left: thin solid #000;
    height: 100%;
    left: 10%;
    position: absolute;
}

.menu {
    position: fixed;
}

.upper {
    border-left: thin solod #000;
    height: 100%;
    left: 10%;
    position: absolute;
}
