/**/

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

label {
  float: left;
  text-align: right;
  width: 35%;
}

input {
    width: 40%;
}

#button {
  text-align: center;
}

.btnA {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15pt;
    height: 4ex;
    width: 5em;
    border-radius: 10px;
    color: white;
    background-color: green;
}

.btnB {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15pt;
    height: 4ex;
    width: 5em;
    border-radius: 10px;
    color: white;
    background-color: red;
}

.btnC {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15pt;
    height: 4ex;
    width: 5em;
    border-radius: 10px;
    color: white;
    background-color: blue;
}

#message {
  border-style: solid;
  border-color: grey;
}
